<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registro de Clientes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<nav></nav>
		<div class="content">
			<form>
				<table class="table">
					<thead>
						<tr>
							<th>Identificación</th>
							<th>Tipo Id.</th>
							<th>Apellido</th>
							<th>Nombres</th>
							<th>Ciudad de nacimiento</th>
							<th>Edad</th>
							<th class="imgBase64">Fotografía</th>
						</tr>
						<tr>
							<td><input id="identificacion" class="form-control" type="text" /></td>
							<td><input id="tipo_documento" class="form-control" type="text" /></td>
							<td><input id="apellido" class="form-control" type="text" /></td>
							<td><input id="nombre" class="form-control" type="text" /></td>
							<td><input id="ciudad_nacimiento" class="form-control" type="text" /></td>
							<td><input id="Edad" class="form-control" type="text" /></td>
							<td><input id="foto" class="form-control" type="file" /></td>
						</tr>
						<tr>
							<td colspan="7">
								<button class="consultar btn btn-primary">Consultar</button>
								<button class="insertar btn btn-primary">Insertar</button>
								<button class="actualizar btn btn-primary">Actualizar</button>
							</td>
						</tr>
						<tr>
							<td colspan="7" class="message"></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td th:text="${cliente.identificacion}"></td>
							<td th:text="${cliente.tipo_identificacion}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.nombres}"></td>
							<td th:text="${cliente.ciudad_nacimiento}"></td>
							<td th:text="${cliente.edad}"></td>
							<td th:text="${cliente.foto}"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
 
	<script type="text/javascript">
		$(document).ready(function () {
			$('form').submit(function (e) { e.preventDefault(); });
			$('.consultar').click(queryClientes);
			$('.insertar').click(insertCliente);
			$('.actualizar').click(updateCliente);
		});

		function queryClientes() {
			console.log("clientes");
			$.ajax({
				url: "/api/clientes",
				method: "get",
				data: {}
			}).done(function (data) {
				$(".message").parent().hide();
				console.log("done");
				console.log(data);
			}).fail(function (data) {
				alert("error");
				console.log(data);
			}).always(function (data) {
				alert("complete");
				console.log(data);
			});			
		}
		function insertCliente() {
			console.log("clientes");
			$.ajax({
				url: "/api/clientes",
				method: "post",
				body: {}
			}).done(function (data) {
				$(".message").parent().hide();
				console.log("done");
				console.log(data);
			}).fail(function (data) {
				alert("error");
				console.log(data);
			}).always(function (data) {
				alert("complete");
				console.log(data);
			});			
		}
		function updateCliente() {
			console.log("clientes");
			$.ajax({
				url: "/api/clientes",
				method: "put",
				data: {}
			}).done(function (data) {
				$(".message").parent().hide();
				console.log("done");
				console.log(data);
			}).fail(function (data) {
				alert("error");
				console.log(data);
			}).always(function (data) {
				alert("complete");
				console.log(data);
			});			
		}
	</script>
</body>
</html>